
$smallfont: 'PT Sans Narrow', sans-serif;
$bigfont: 'Libre Baskerville', serif;

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6a15e;
    .circle {
        height: 150%;
        width: 100%;
        background: #eee;
        position: absolute;
        left: 50%;
        border-radius: 50%;
    }
    .container {
        width: 90%;
        height: 90%;
        background: #fff;
        z-index: 1;
        border-radius: 10px;
    }
}

header {
    width: 100%;
    height: 15vh;
    .navbar {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $smallfont;

        .logo {
            img {
                height: 120px;
                width: 120px;
            }
        }
        a {
            font-size: 1rem;
            text-decoration: none;
            color: #000;
            padding-bottom: 5px;
            font-weight: 400;
            transition: all .2s ease-in-out;
            &:hover {
                color:#c6a15e;
                font-weight: 700;
                transform: scale(1.2);
                border-bottom: 2px solid #d4af37;
            }
        }
    }
}

.left-side {
    height: 80%;
    width: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-block {

        margin-left: 10%;
        position: relative;
        h4 {
            position: absolute;
            font-family: $smallfont;
            font-weight: 400;
            text-transform: uppercase;
            top: -180px;
            font-size: 1.4rem;
            letter-spacing: 2px;
            .you {
                font-weight: 700;
            }
            .brand {
                font-weight: 700;
                color: #c6a15e;
            }
        }
        h1 {
            position: absolute;
            font-family: $bigfont;
            text-transform: capitalize;
            font-size: 5rem;
            top: -150px;
            padding: 30px 0;
            .story {
                color: #c6a15e;
            }
        }
        p {
            // position: absolute;
            padding-top: 70px;
            font-family: $smallfont;
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: 300;
        }
        button {
            position: absolute;
            top: 200px;
            height: 60px;
            width: 250px;
            font-size: 1.2rem;
            background: #c6a15e;
            border-radius: 30px;
            font-family: $smallfont;
            -webkit-box-shadow: 6px 7px 22px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 7px 22px -12px rgba(0,0,0,0.75);
            box-shadow: 6px 7px 22px -12px rgba(0,0,0,0.75);
            .circle {
                height: 40px;
                width: 40px;
                left: 203px;
                top: 9px;
                background: #d4b06b;
                position: absolute;
            }
        }
    }
}

.right-side {
    height: 80%;
    width: 60%;
    background: #fff;
    float: right;
    position: relative;
    .circle {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        background: #c6a15e;
        left: 180px;
        top: 80px;
        position: absolute;
    }
    img {
        height: 500px;
        width: 500px;
        position: absolute;
        top: 20px;
        left: 150px;
    }
    h3 {
        position: absolute;
        top: 430px;
        left: 600px;
        font-weight: 400;
        color: rgb(126, 126, 126);
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: $smallfont;
        font-size: 1.2rem;
        transform: rotate(90deg);
    }
}